/* Carousel */
* { box-sizing: border-box; }

/*body { font-family: sans-serif; }*/

.carousel {
    /*height: 100%;*/
}

.carousel img {
  display: block;
  height: 200px;
}

.gallery video {
  display: block;
  height: 200px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    max-height: 750px;
  }
  .carousel video {
    max-height: 750px;
  }
}

.gallery {
    background: black;
}

.gallery img {
  display: block;
  height: 300px;
}

/*.container-fluid {*/
   /*padding: 0px;*/
/*}*/

/* position dots up a bit */
.flickity-page-dots {
  bottom: 12px;
}
/* dots are lines */
.flickity-page-dots .dot {
  /*height: 4px;*/
  /*width: 40px;*/
    margin: 0;
    border-radius: 0;
}

header {
    position: relative;
    /*min-height: auto;*/
    text-align: center;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: #00212c;
    /*background-image: url('../assets/DSC_1190a.jpg');*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
}

#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
}

#video-background.collapsing {
  display:none;
}

/*footer {*/
    /*background-color:#2d2d2d;*/
/*}*/

@media(min-width:768px) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 600px;
        /*min-height: 100%;*/
    }

    header .header-content {
        position: absolute;
        top: 50%;
        /*top: 45%;*/
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

/* Masonry Grid */
:root {
    --vertical-spacing: 20px;
    /* must change gutter in home_page.html as well */
    --horizontal-spacing: 20px;
}

/* 1 column by default */
.grid-sizer { width: calc(100% - var(--horizontal-spacing)); }
/*.grid-item { width: calc(50% - 10px); background: rgba(122, 122, 122, 0.49);
margin-bottom: var(--vertical-spacing);}*/
/*.grid-item--width2 { width: calc(100% - 10px); background: #f5f5f5; margin-bottom: var(--vertical-spacing);}*/
.grid-item { width: calc(100% - var(--horizontal-spacing)); margin-bottom: var(--vertical-spacing);}
/*.grid-item--width2 { width: calc(100% - var(--horizontal-spacing)); margin-bottom: var(--vertical-spacing);}*/

/*!* 3 columns *!*/
/*@media screen and (min-width: 1024px) {*/
    /*.grid-sizer {*/
        /*width: calc(33.333% - var(--horizontal-spacing));*/
    /*}*/

    /*.grid-item {*/
        /*width: calc(33.333% - var(--horizontal-spacing));*/
        /*!*background: rgba(122, 122, 122, 0.49);*!*/
        /*!*margin-bottom: 10px;*!*/
    /*}*/

    /*!*.grid-item--width2 {*!*/
        /*!*width: calc(66.666% - var(--horizontal-spacing));*!*/
        /*!*background: #f5f5f5;*!*/
        /*!*margin-bottom: 10px;*!*/
    /*!*}*!*/
/*}*/

/* 2 columns */
@media screen and (min-width: 768px) {
    .grid-sizer {
        width: calc(50% - var(--horizontal-spacing));
    }

    .grid-item {
        width: calc(50% - var(--horizontal-spacing));
        /*background: rgba(122, 122, 122, 0.49);*/
        /*margin-bottom: 10px;*/
    }

    /*.grid-item--width2 {*/
        /*width: calc(66.666% - var(--horizontal-spacing));*/
        /*background: #f5f5f5;*/
        /*margin-bottom: 10px;*/
    /*}*/
}

/*!* 5 columns by default *!*/
/*@media screen and (min-width: 768px) {*/
    /*!* 5 columns for larger screens *!*/
    /*.grid-sizer { width: calc(20% - var(--horizontal-spacing)); }*/
    /*.grid-item { width: calc(20% - var(--horizontal-spacing)); }*/
    /*!* 2 columns *!*/
    /*.grid-item--width2 { width: calc(40% - var(--horizontal-spacing)); }*/
/*}*/